.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.chat-input {
  padding:12px 15px;
  border-radius: 10px;
}

.chat-message-container {
  flex-grow: 1;
}